<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-factura-heading">Create or edit a Factura</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_identificacion">Identificacion</label>
                    <input type="text" class="form-control" name="identificacion" id="field_identificacion"
                           formControlName="identificacion"/>
                    <div *ngIf="editForm.get('identificacion')!.invalid && (editForm.get('identificacion')!.dirty || editForm.get('identificacion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identificacion')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecha')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_monto">Monto</label>
                    <input type="number" class="form-control" name="monto" id="field_monto"
                           formControlName="monto"/>
                    <div *ngIf="editForm.get('monto')!.invalid && (editForm.get('monto')!.dirty || editForm.get('monto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('monto')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('monto')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fechaVencimiento">Fecha Vencimiento</label>
                    <div class="d-flex">
                        <input id="field_fechaVencimiento" type="datetime-local" class="form-control" name="fechaVencimiento" formControlName="fechaVencimiento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_facturadRealizada">Facturad Realizada</label>
                    <input type="checkbox" class="form-control" name="facturadRealizada" id="field_facturadRealizada"
                           formControlName="facturadRealizada"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_facturaEnviada">Factura Enviada</label>
                    <input type="checkbox" class="form-control" name="facturaEnviada" id="field_facturaEnviada"
                           formControlName="facturaEnviada"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_facturaCobrada">Factura Cobrada</label>
                    <input type="checkbox" class="form-control" name="facturaCobrada" id="field_facturaCobrada"
                           formControlName="facturaCobrada"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
